html,
body {
  margin: 0;
  height: 100vh;
}

.a{
  color: #00000070;
  background: #ffffffA0;
}
.a:hover {
  filter: invert(50%);
  /* filter:hue-rotate(60);  */
  /* filter:sepia();  */
  /* filter: contrast(); */
  /* filter: invert(); */
}
.active {
  background: #00000070;
  color:white;
}