
.candidatecard {
    /* background-color: skyblue; */
    width: 300px;
    /* gap: 50px; */
}

/* .candidatecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: -10px;
} */

/* Container for the chat */
.chat-container {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* Common chat bubble style */
.chat-bubble {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

/* Style for user messages */
.user-bubble {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    margin-left: auto;
    /* text-align: right; */
}

/* Style for bot messages */
.bot-bubble {
    /* background-color: #f1f1f1; */
    background-color: white;
    color: black;
    align-self: flex-start;
    margin-right: auto;
    text-align: left;
}

/* Container for individual chat messages */
.chat-message {
    display: flex;
    flex-direction: column;
}

/* Style for the overall chat box */
.chat-box {
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    /* border: 1px solid #ccc; */
    padding: 10px;
    overflow-y: auto;
}

.assistant-icon {
    /* position: absolute; */
    /* top: -30px; */
    /* left: 0; */
    /* width: 80px; */
    /* height: 40px; */
            margin: 0; /* Remove any default margin */
            align-self: flex-start;
}

.user-icon {
    /* position: absolute; */
    /* bottom: -30px; */
    /* right: 0; */
    /* width: 40px; */
    /* height: 40px; */
            margin: 0; /* Remove any default margin */
            align-self: flex-end;
    
}

.chat-space {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    width: fit-content;
    margin: 0 auto;
}

